In [ ]:
# Explorer data

In [6]:
import final_project.utils.paths as path
import janitor
import pandas as pd
import seaborn as sns

In [3]:
processed_covid_file = path.data_processed_dir("time_series_covid19_confirmed_global_processed.csv")

In [4]:
processed_covid_df = pd.read_csv(processed_covid_file)
processed_covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330327 entries, 0 to 330326
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   country_region  330327 non-null  object
 1   date            330327 non-null  object
 2   value           330327 non-null  int64
dtypes: int64(1), object(2)
memory usage: 7.6+ MB

In [5]:
processed_covid_df.head()

  country_region        date  value
0    Afghanistan  2020-01-22      0
1        Albania  2020-01-22      0
2        Algeria  2020-01-22      0
3        Andorra  2020-01-22      0
4         Angola  2020-01-22      0

In [7]:
sns.set_style("whitegrid")

In [8]:
processed_covid_df = (
    processed_covid_df
    .transform_column(
        "date",
        pd.to_datetime
    )
)

In [9]:
processed_covid_df.head()

  country_region       date  value
0    Afghanistan 2020-01-22      0
1        Albania 2020-01-22      0
2        Algeria 2020-01-22      0
3        Andorra 2020-01-22      0
4         Angola 2020-01-22      0